@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face{
  font-family: raleway;
  src: url("fonts/raleway-semibold-webfont.woff") format("woff"), url("fonts/raleway-semibold-webfont.woff2") format("woff2");
}


body{
  font-family: Open Sans, sans-serif;
}
/* max bredd för huvudinnehållet till 1300 px, border box för att 
 storleken på boxen ska förbli desamma, margin för att förhålla sig till 
 center av sin föräldrar container  */
.wrapper{
  max-width: 1300px;
  box-sizing: border-box; 
  margin: 0 auto;
}

/*huvudfont på rubriker*/
h1, h2, h3, h4{
  font-family: raleway, sans-serif;
}

/*färg och stilval på huvudrubriken på sidan*/
h1{
  color: #2d95c9;
  font-size: 300%;
  letter-spacing: 0.3em;
}

/*sätter textstorleken på alla paragraf samtlinjehöjden */
p{
  font-size: 90%;
  line-height: 170%;
  text-align: center;
}
 
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#logo{
  height: 80px;
}

header nav ul{
  list-style: none;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

header nav ul li{
  display: inline-block;
  background-color: hsl(333, 65%, 71%);
  padding: 1em;
  line-height: 1.2em;
}

header nav ul li a:link{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 0.1em;
}

header nav ul li a:visited{
  color: aliceblue;
}

header nav ul li a:active{
  color: rgb(234, 104, 104) !important;
  background-color: white;
}

header nav ul li:hover{
  cursor: pointer;
  background-color: #2d95c9;
}

header nav ul li a:hover{
 color: antiquewhite;
}

/*grid för att centrera både sökfältet & knappen i mitten av sidan */
#searchArea{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 1em;                     
  margin: 2rem auto; 
}

/*sökfält som placeras i mitten av sidan brevid söknappen*/
#searchBox{
  width: 70vw;
  border: hsl(333, 65%, 71%) solid 1px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
}

/*sökfält som placeras i mitten acv sidan */
#searchButton{
  background-color: #2d95c9;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
/*hover effekt för att visa att den går att trycka på */
#searchButton:hover{
  background-color: hsl(333, 65%, 71%) ;
  cursor: pointer;
}


.background-image{
  height: 300px;
  background-image: url("images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  color:#2E2C45 ;
}

#section1{
  grid-area: area1;
}
#section2{
  grid-area: area2;
}
#section3{
  grid-area: area3;
}
#section4{
  grid-area: area4;
}

/*skapa fyra stycken kolumner för att presentera produkter  */
#mainProductSection{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "area1 area2 area3 area4";
  gap: 2rem;
}


/*skapa */
.main-section{
  width: auto;
  background-color: hsl(198, 100%, 92%);
  padding: 1em;
  margin-bottom: 2rem;
  display: grid;
  justify-items: center;
}


/*
Kontrast-ratio på mina sektioner är 15.31  */ 

section img{
  border-radius: 5px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
/*sökknapp för att ta sig vidare till produkterna */
.productButton{
  background-color: #e585b0 ;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.productButton:hover{
  background-color: #2d95c9;
  cursor: pointer;
}



#newsletter{
  background-color: #e585b0;
  opacity: 80%;
  color: white;
  padding: 3em;
}

#labelNewsletter{
  text-align: center;
}


#f-section1{
  grid-area: foot1;
}
#f-section2{
  grid-area: foot2;
}
#f-section3{
  grid-area: foot3;
}

footer{
  padding: 1.5em;
  background-color: #434343;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "foot1 foot2 foot3";
  color: #eded6a;
}

address{
  font-style: normal;
}

.cursive{
  font-style: italic;
}

footer li{
  list-style: none;
  padding-bottom: 0.15em;
}

footer a{
  color: #eded6a;
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer a:hover{
  color: white;
}

@media (max-width: 1320px) {
  .wrapper {
    width: 100%;       
    padding: 10px;   
  }
}

@media (max-width: 900px) {

  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;       
    grid-template-areas:
    "area1 area2"
    "area3 area4";
  }

  footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "foot1 foot1 foot1"
    "foot2 auto foot3";
    gap: 2rem;
  }


}