/*deklarerar fonts till webbplatsen taget från Font Squirrel*/
@font-face{
  font-family: selawik;
  src: url("fonts/selawk-webfont.woff") format("woff"), url("fonts/selawk-webfont.woff2") format("woff2");
}

@font-face{
  font-family: selawikb;
  src: url("fonts/selawksb-webfont.woff")format("woff"), url("fonts/selawksb-webfont.woff2") format("woff2");
}

html{
  scroll-behavior: smooth;
}

.scrollTarget{
  scroll-margin-top: 1em;
}

/*deklarerar vilken font, och fonstorlek som ska vara i all brödtext på webbplatsen*/
body{
  font-family: selawik, sans-serif;
  font-size: 90%;
  scroll-padding-top: 100px;
}

/* max bredd för huvudinnehållet till 1300 px, border box för att 
 storleken på boxen ska förbli desamma, margin för att förhålla sig till 
 center av sin föräldrar container  */
.wrapper{
  max-width: 1300px;
  box-sizing: border-box; 
  margin: 0 auto;
}

/*huvudfont på rubriker*/
h1, h2, h3, h4{
  font-family: selawikb, sans;
}

/*färg och stilval på huvudrubriken på sidan*/
h1{
  color: #2d95c9;
  font-size: 200%;
  letter-spacing: 0.3em;
  text-shadow:  0 2px 6px rgba(174, 54, 54, 0.1);
}

h2{
  color: #2d95c9;
  text-shadow:  0 1px 3px rgba(174, 54, 54, 0.1);
}

h4{
  color: #2d95c9;
}


/*sätter textstorleken på alla paragraf samtlinjehöjden */
p{
  line-height: 170%;
  text-align: center;
  width: 90%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#logo{
  height: 80px;
}

header nav ul{
  list-style: none;
  display: flex;
  column-gap: 0.7em;
  align-items: center;
  justify-content: space-between;
}

header nav ul li{
  display: inline-block;
  background-color: hsl(333, 65%, 71%);
  padding: 1em;
  line-height: 1em;
}

header nav ul li a:link{
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 0.1em;
}

header nav ul li a:visited{
  color: aliceblue;
}

header nav ul li a:active{
  color: rgb(234, 104, 104) !important;
  background-color: white;
}

header nav ul li:hover{
  cursor: pointer;
  background-color: #2d95c9;
}

header nav ul li a:hover{
  color: antiquewhite;
}

/*grid för att centrera sökfältet i mitten av sidan */
#searchArea{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;                 
  margin: 2rem auto; 
}

/*sökfält som placeras i mitten av sidan brevid söknappen*/
#searchBox{
  width: 70vw;
  height: 20px;
  border: hsl(333, 65%, 71%) solid 1px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  text-align: start;
}

.background-image{
  height: 300px;
  background-image: url("images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  color:#2E2C45 ;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2em;
}

#welcomeP{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin-bottom: 2em;
  width: 70vw;
  font-size: 120%;
}

#section1{
  grid-area: area1;
}
#section2{
  grid-area: area2;
}
#section3{
  grid-area: area3;
}
#section4{
  grid-area: area4;
}

/*skapa fyra stycken kolumner för att presentera produkter  */
#mainProductSection{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "area1 area2 area3 area4";
  gap: 2rem;
}


/*skapa */
.main-section{
  width: auto;
  background-color: hsl(198, 100%, 92%);
  padding: 1em;
  margin-bottom: 2rem;
  display: grid;
  justify-items: center;
}


/*
Kontrast-ratio på mina sektioner är 15.31  */ 

section img{
  border-radius: 5px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.productButton a{
  text-decoration: none;
  color: white;
}


/*sökknapp för att ta sig vidare till produkterna */
.productButton{
  text-decoration:none ;
  background-color: #e585b0 ;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.productButton:hover{
  background-color: #2d95c9;
  cursor: pointer;
}

#productMainHeader{
  justify-self: center;
}

.productHeader{
  justify-self: center;
  letter-spacing: 0.2em;
}
.productContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin-bottom: 2em;
}

.productContainer img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-self: center;
  margin-top: 1.5em;
}

article{
  text-align: center;
}

.product{
  background-color:  #dff2fc9f;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}

.buyButton{
  background-color: #e585b0 ;
  border: none;
  border-radius: 5px;
  padding: 0.7em;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.buyButton:hover{
  background-color: #2d95c9;
  cursor: pointer;
}

#newsletter{
  background-color: #e585b0;
  opacity: 80%;
  color: white;
  padding: 3em;
  margin-bottom: 2em;
  font-size: 115%;
}

#subscribe{
  color: white;
  text-align: center;
}

#labelNewsletter{
  margin-bottom: 2em;
}
#newLetterP{
  width: 60%;
  justify-self: center;
} 
#labelNewsletter{
  display: grid;
  justify-content: center;
}

fieldset{
  border: none;
  display: grid;
  grid-template-columns: 1fr;
}

label{
  text-align: center;
  margin-bottom: 0.5em;
}

input{
  width: 50%;
  justify-self: center;
  margin-bottom: 0.4em;
  height: 2.5vw;
  border: #2d95c9 solid 1px;
  border-radius: 5px;
  text-align: center;
}

input:focus{
  background-color: #a6d8f0;
}


#submit{
  background-color: #2d95c9;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  min-width: 100px;
  line-height: 0;
  padding: 1em;
  text-align: center;
  justify-self: center;
  margin-top: 1em;
}

#submit:hover{
  background-color: white ;
  color: #2d95c9;
  cursor: pointer;
}


#f-section1{
  grid-area: foot1;
  justify-items: center;
}
#f-section2{
  grid-area: foot2;
  justify-items: center;
}

#f-section2 li{
  margin-bottom: 0.7em;
}

#f-section2 a{
  color: black;
  letter-spacing: 0.1em;
  font-family: selawikb, sans;
}

#f-section2 a:hover{
  color: #e585b0
}

#f-section3{
  grid-area: foot3;
  justify-items: center;
}

#f-section4{
  grid-area: foot4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-top: 20px;
}


footer{
  padding: 1.5em;
  background-color: #D7F2FF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "foot1 foot2 foot3"
  "foot4 foot4 foot4";
}

address{
  font-style: normal;
  justify-items: center;
}

footer ul{
  padding-left: 0;
  justify-items: center;
}

footer li{
  list-style: none;
  padding-bottom: 0.15em;

}

footer a{
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer a:hover{
  color: white;
}

.social-media .fa{
  padding: 10px;
  font-size: 20px;
  width: 20px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media .fa-facebook {
  background: #3B5998;
  color: white;
  text-decoration: none;
}

.social-media .fa-instagram {
  background: #983b7b;
  color: white;
  text-decoration: none;
}

.social-media .fa-facebook:hover {
  background: #2d95c9;
}

.social-media .fa-instagram:hover{
  background: #2d95c9;
}

@media (max-width: 1320px) {
  .wrapper {
    width: 100%;       
    padding: 10px;   
  }
}

@media (max-width: 900px) {

  body{
    font-size: 110%;
  }

  input{
    width: 80%;
    margin-bottom: 0.4em;
    height: 6vw;
  }

  #submit{
    width: 90px;
  }

  #mainProductSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;       
    grid-template-areas:
    "area1 area2"
    "area3 area4";
  }

  #newLetterP{
    width: 80%;
  } 

  footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "foot1 foot1 foot1"
    "foot2 auto foot3"
    "foot4 auto foot4";;
    gap: 2rem;
  }
}

@media (max-width: 680px) {

  body{
    font-size: 130%;
  }

  header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4em;
    padding:0.7em;
    text-align: center;
    font-size: 80%;
  }

  .main-section{
    padding: 0.5em;
    margin-bottom: 0.2em;
  }

  #mainProductSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;       
    grid-template-areas:
    "area1"
    "area2"
    "area3"
    "area4";
    margin-bottom: 1em;
  }

  article{
    margin-bottom: 1em;
  }

  .productContainer{
    grid-template-columns: 1fr;
  }

  #newLetterP{
    width: 90%;
  }

  footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "foot1 foot1"
    "foot2 foot2"
    "foot3 foot3"
    "foot4 foot4";;
    gap: 2rem;
    justify-items: center;
  }
}